<div id="signup">
  <div id="signup-left"></div>

  <form {{action 'login' on='submit'}} id="signup-center">
    <h1 id="register-heading">Login</h1>
    <input type="text" class="inputbox" placeholder="Username" id="username" required>
    <input type="Password" class="inputbox" placeholder="Password" id="password" required>
    <div id="message"></div>
    <button type="submit" id="submit-button" formaction="">Login</button>
    <p>New here? {{#link-to 'signup' }} Signup {{/link-to}}</p>
  </form> <br>

  <div id="signup-right"></div>
</div>

{{outlet}}
{{outlet}}
